.context-menu{
	background: white;
	/*border: 1px solid black;*/
	position: fixed;
	top: 10px;
	left: 10px;
	min-width: 150px;
	padding: 5px 0;

	-webkit-box-shadow: 1px 1px 13px -1px rgba(33,33,33,1);
	-moz-box-shadow: 1px 1px 13px -1px rgba(33,33,33,1);
	box-shadow: 1px 1px 13px -1px rgba(33,33,33,1);
}
.context-menu .menu-item{
	padding: 5px 10px;
	cursor: pointer;
	font-size: 14px;
}
context.active .context-menu{
	display: block;
}
.menu-item:hover{
	background: #d3ecf5;
}