ul.lists {
    >li {
        padding-left: 20px;
        position: relative;

        >a{
            font-size: 1rem;
            padding-right: 10px;
            
            &:before{
                content: '';
                width: 25px;
                height: 40px;
                display: block;
                float: left;
                margin-right: 5px;
                // clear: both;
                background: url('../img/icons/list.svg') no-repeat center;
                background-size: contain;
            }
            &:after{
                content: '';
                display: block;
                clear: both;
            }     
            .todocount {
                float: right;
                margin: 0 10px;
                font-size: 0.9rem;
                color: #9a9a9a;
                font-weight: normal;
            }   

            
        }       
    }
   
    div.buttons {
        float: right;
        margin:  0 5px;
        width: 60px;
        font-size: 0;
        display: none;
        height: 40px;
        padding: 10px 0;
        a {
            padding: 0;
            display: inline-block;
            height: 20px;
            width: 20px;
            text-align: center;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            margin-right: 10px;
            opacity: .5;
            vertical-align: middle;

            &:hover {opacity: 1;}
            &:first-child {
                background-image: url('../img/icons/edit.png');
                // background-color: red;
            }
            &:last-child {
                // background-color: green;
                background-image: url('../img/icons/rubbish.png');
                

            }
        }
    }
    // .active-list {background-color: lightblue;}
    .active-list .buttons {display: block;}
    .active-list >a {margin-right: 65px;}

}

