@import "var.scss";

aside.todo-aside {
    background-color: #fff;
    width: 300px;
    // height: -o-calc(100% - ($headerHeight));
    // height: -moz-calc(100% - ($headerHeight));
    // height: -webkit-calc(100% - ($headerHeight));
    height: calc(100% - #{$headerHeight});
    float: right;
    position: relative;

    li {
        min-height: 40px;
        border-bottom: 1px solid $lightgray;
        color: $gray;
        line-height: 40px;
    }

    // li task
    li.task {
        background-color: #fff;
        height: 40px;
        input[type=checkbox]+label {
            display: block;
            width: 40px;
            height: 40px;
            background-image: url('../img/icons/check-box-empty.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 20px;
            float: left;
        }
        input[type=checkbox] {
            display: none;
        }
        
        input[type=checkbox]:checked+label {
            background-image: url('../img/icons/check-box.png');
        }
        
        span[contenteditable] {
            color: #696969;
            line-height: 40px;
            text-transform: uppercase;
            font-weight: bold;
            height: 100%;
            display: inline-block;
            width: 200px;
            outline: none;
        }
        .marked {
            float: right;
            width: 50px;
            height: 40px;
            background-image: url('../img/icons/border-star.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 25px;
            cursor: pointer;
            input {
                display: none;
            }
            &.active {
                background-image: url('../img/icons/star-red.png');
            }
        }
    }
    // for all li, except first
    li:not(.task) {
        padding-left: 40px;
        background-repeat: no-repeat;
        background-position: 10px center;
        background-size: 20px;
        input {
            height: 40px;
            line-height: 40px;
        }
        &.duedate {background-image: url('../img/icons/calendar.png');}
        &.reminder {background-image: url('../img/icons/set-alarm.png');}
        &.subtask {background-image: url('../img/icons/plus-symbol.png');}
        &.note {background-image: url('../img/icons/pencil.png');}
        &.file {background-image: url('../img/icons/attachment.png');}
    }

    li.note.note-active {
        background-position-y: 10px;

        textarea {
            padding: 10px 0;
            overflow: hidden;
            box-sizing: content-box;
            font-style: italic;
        }
    }
    
    .subtasks {display: none;}

    .todoaside-footer {
        position: absolute;
        bottom: 0px;
        height: 40px;
        width: 100%;
        border-top: 2px solid $lightgray;
        button {
            height: 30px;
            width: 30px;
            background: url('../img/icons/exit-to-app-button.png') no-repeat center;
            background-size: 20px;
        }
    }

    input[type='file'] {display: none;}
}


// 





// 4F5F6B
