@import "var.scss";
.todo {
    li {
        padding: 8px 12px;
        margin-top: 5px;
        background-color: #eaf1f3;
        border-radius: 4px;
        cursor: pointer;
        &:after{
            content: '';
            display: block;
            clear: both;
        }
        &.active-todo {background-color: lightblue;}
        a {
            color: #696060;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .completed{
            display: block;
            float: left;
            margin: 3px 0;
            margin-right: 5px;
            width: 15px;
            height: 15px;
            background-image: url('../img/icons/check-box-empty.png');
            background-repeat: no-repeat;
            background-size: contain;

            input{
                display: none;
            }
            &.active{
                background-image: url('../img/icons/check-box.png');
            }
        }
        .marked {
            float: right;
            width: 20px;
            height: 20px;
            background-image: url('../img/icons/star.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            cursor: pointer;
            input {
                display: none;
            }
            &.active {
                background-image: url('../img/icons/star-red.png');
            }
        }
    }
    .completed-btn {
        margin: 10px 0;
        padding: 5px 10px;
        background-color: lightblue;
        text-transform: uppercase;
        font-size: 11px;
        border-radius: 4px;
        background-color: $darkblue;
        color: inherit;
        color: white;

        &:active {
            background-color: $blue;
        }
    }
}

.todo-completed {
    h3 {
        margin: 5px 15px;
    }
    li {
        opacity: .7;
        a {
            text-decoration: line-through;
        }
    }
}