@import "var.scss";

.todo-aside {
    background-color: #fff;
    width: 300px;
    height: 100%;
    float: right;

    li {
        min-height: 40px;
        border-bottom: 1px solid $lightgray;
        color: $gray;
    }
}


li.task {
    background-color: #fff;
    height: 40px;
    input[type=checkbox] {
        margin: 10px 5px;
        height: 20px;
    }
    a {
        color: #696969;
        line-height: 40px;
        text-transform: uppercase;
    }
    .marked {
        float: right;
        width: 50px;
        height: 40px;
        background-image: url('../img/icons/border-star.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30px;
        cursor: pointer;
        input {
            display: none;
        }
        &.active {
            background-image: url('../img/icons/star-red.png');
        }
    }
}
