{
    "env": {
        "browser": true
    },
    "extends": ["airbnb/base"],
    "parser": "babel-eslint",
    "rules": {
        "no-underscore-dangle": [2, { "allow": ["_id"] }],
        "linebreak-style": 0,
        "comma-dangle": [0, "never"],
        "no-tabs": 0,
        "semi": [0, "never"],
        "eol-last": 0,
        "eqeqeq": 0,
        "indent": 0,
        "no-multiple-empty-lines": [2, { "max": 2 }],
        "no-unused-vars": [1, "all"],
        "quotes": [0, "single"],
        "space-before-function-paren": [2, "never"],
        "spaced-comment": [0, "always"],
        "radix": 0,
        "padded-blocks": 0
    },
    "globals": {
        "angular": true,
        "_": true,
        "moment": true,
        "$": true,
        "jQuery": true,
        "d3": true,
        "describe": true,
        "xdescribe": true,
        "expect": true,
        "spyOn": true,
        "beforeEach": true,
        "afterEach": true,
        "inject": true,
        "it": true,
        "jasmine": true
    },
    "plugins": [
        "jasmine"
    ]
}