<div class='container'>
    <aside ng-class='{"sidebar-close" : !ctrl.sidebarOpen, "": ctrl.sidebarOpen}'>
        <div class="nav">
            <button class='toggle-button' ng-click='ctrl.sidebarOpen = !ctrl.sidebarOpen'></button>   
                <input type="text" 
                ng-change='ctrl.goToSearch()' 
                ng-model='ctrl.searchItem'>
            <span class='toggle-search'></span>
        </div>
        <div class="folders">                      
            <ul class='special-items tab-bar'>
                <li class='marked' ui-sref-active='active-list'>
                    <a ui-sref="lists({listid: 'marked'})"><span>Избранное</span></a>
                </li>
            </ul>
            <list-group-component on-edit="ctrl.actions.onEdit(item)" on-delete="ctrl.actions.onDelete(item)" on-context-menu="ctrl.actions.onContextMenu(event, item)"></list-group-component>
            <div class="empty-folder"
                dragdrop-dir drop-obj='null' verify-drop-allowed='ctrl.actions.verifyEmptyFolderDrop(dragObj, dropObj)' execute-drop='ctrl.actions.handleEmptyFolderDrop(dragObj, dropObj)'>
                <!-- <list-comp filter-id='null' on-edit='ctrl.actions.onEdit(item)' on-delete='ctrl.actions.onDelete(item)' on-context-menu="ctrl.actions.onContextMenu(event, item)"></list-comp>
                </list-comp> -->
            </div>           
        </div>
        <div class="create">
            <a href="" ng-click='ctrl.modal.open("add-list")'><span>Create list</span></a>
            <a href="" ng-click='ctrl.modal.open("add-folder")'><span>Create folder</span></a>
        </div>
    </aside>
    <header>
        <h2>{{ctrl.headerTitle}}</h2>
        <button class='sort-button' ng-disabled="ctrl.currListId == 'marked'" ng-click="ctrl.toggleSortMenu()"></button>
        <ul class="sort-menu">
            <li ng-click='ctrl.sorting.byTitle()'>Sort Alphabetical</li>
            <li ng-click='ctrl.sorting.byMarked()'>Sort by Marked</li>
            <li ng-click='ctrl.sorting.byDate()'>Sort by Date</li>
        </ul>
    </header>
    <!-- nested view for sidebar -->
    <!-- <ui-view></ui-view> -->
    <main>
        <form action="" ng-submit="ctrl.addToDo($event)" ng-click='ctrl.focusAddTask($event)' ng-hide='ctrl.currListId == "marked"'>
            <span class='newTask' ng-click='ctrl.toggleFocus($event)'>
                <i  ng-if='!ctrl.taskFocused'></i>
                <i class="icon-checked" ng-if='ctrl.taskFocused'></i>
            </span>
            <input type="text" class='newTaskTitle' ng-model="ctrl.newTodoTitle">
            <div class="marked-task">
                <input type="checkbox" name="newTask" id="addTask" class='marked-task' ng-model='ctrl.marked'>
                <label for="addTask"></label>
            </div>
        </form>
        <todo-comp on-edit="ctrl.actions.onEdit()" on-context-menu="ctrl.actions.onContextMenu(event, item)"></todo-comp>
    </main>
    
    <!-- MODAL WINDOWS -->
    <section class="modals">
        <modal modal-id='add-list' title="Create new list">
            <list-form state="create"></list-form>
        </modal>
        <modal modal-id='add-folder' title="Create new folder">
            <folder-form state="create"></folder-form>
        </modal>
        <modal modal-id='edit-list' title="Edit list">
            <list-form state="edit" edit-data='ctrl.activeItem'></list-form>
        </modal>
        <modal modal-id='edit-folder' title="Edit folder">
            <folder-form state="edit" edit-data='ctrl.activeItem'></folder-form>
        </modal>
        <modal modal-id='delete-list' title='Delete list'>
            <list-form state="delete" edit-data='ctrl.activeItem'></list-form>
        </modal>
        <modal modal-id='delete-folder' title="Delete folder">
            <folder-form state="delete" edit-data='ctrl.activeItem'></folder-form>
        </modal>
        <modal modal-id='edit-todo' title="Edit todo">
            <list-form state="edit" edit-data='ctrl.activeItem'></list-form>
        </modal>
         <modal modal-id='delete-todo' title="Delete todo">
            <list-form state="delete" edit-data='ctrl.activeItem'></list-form>
        </modal>
    </section>
</div>
<context menu-id="folder">
    <menu-item text="Edit folder" ng-click="ctrl.actions.onEdit()"></menu-item>
    <menu-item text="Ungroup folder" ng-click="ctrl.actions.onDelete()"></menu-item>
</context>
<context menu-id="list">
   
    <menu-item text="Edit list" ng-click="ctrl.actions.onEdit()"></menu-item>
    <menu-item text="Delete list" ng-click="ctrl.actions.onDelete()"></menu-item>
</context>
<context menu-id="todo">
    <menu-item text="Mark as Starred" ng-if="!ctrl.activeItem.marked" ng-click="ctrl.actions.changeTodoMarked(true)"></menu-item>
    <menu-item text="Mark as Unstarred" ng-if="ctrl.activeItem.marked" ng-click="ctrl.actions.changeTodoMarked(false)"></menu-item>
    <menu-item text="Mark as Completed" ng-if="!ctrl.activeItem.completed" ng-click="ctrl.actions.changeTodoCompleted(true)"></menu-item>
    <menu-item text="Mark as Not Completed" ng-if="ctrl.activeItem.completed" ng-click="ctrl.actions.changeTodoCompleted(false)"></menu-item>
    <menu-item text="Rename todo" ng-click="ctrl.actions.onEdit()"></menu-item>
    <menu-item text="Delete todo" ng-click="ctrl.actions.onDelete()"></menu-item>
</context>