<div class = 'lists'>
    <h2>{{$ctrl.listsTitle}}</h2>
    <button ng-click='$ctrl.openInput = true' ng-if='!$ctrl.openInput'>Add list</button>
    <!-- make it as form with validation -->
    <div ng-if='$ctrl.openInput'>
        <input type="text" ng-model='$ctrl.newTitle'>
        <button ng-click='$ctrl.saveList()'>Save list</button>
        <button ng-click='$ctrl.changeList()'>Change list</button>
        <button ng-click='$ctrl.openInput=false'>Cancel</button>
    </div>
    
    <ul>
        <li ng-repeat='list in $ctrl.lists | filter: $ctrl.filterData'>
            <a href='#'>{{list.title}}</a>
            <button ng-click='$ctrl.deleteList(list.id)'>delete list</button>
            <button ng-click='$ctrl.rewriteList(list.id)'>change list</button>
        </li>
    </ul>
</div>