
<ul class = 'lists tab-bar'>
        <li ng-repeat='list in $ctrl.lists | filter: {"listGroupId":$ctrl.filterId}  track by $index' ui-sref-active='active-list'>
            <a ui-sref='lists.todo({listid: list.id})'>{{list.title}}
                <span class='todocount' ng-if='list.todoLists.length>0'>{{list.todoLists.length}}</span>
            </a>
            <div class="buttons">
                <a ng-click='$ctrl.handleEdit(list)'></a>
                <a ng-click='$ctrl.handleDelete(list)'></a>
            </div>
        </li>
    </ul>
