<ul class='lists tab-bar'>
    <li ng-repeat='list in $ctrl.lists | filter: {"folderId":$ctrl.filterId}  track by $index' ui-sref-active='active-list' 
    dragdrop-dir drag-obj='list' verify-drag-allowed='$ctrl.verifyDragList(obj)' 
    drop-obj='list' verify-drop-allowed='$ctrl.verifyListDrop(dragObj, dropObj)' execute-drop='$ctrl.handleDrop(dragObj, dropObj)'
    draggable = 'true' ng-right-click="$ctrl.openContextMenu($event, list)">
          <div class="buttons">
            <a ng-click='$ctrl.handleEdit(list)'></a>
            <a ng-click='$ctrl.handleDelete(list)'></a>
        </div>
        <a ui-sref='lists({listid: list._id})' draggable = 'false'>
            <span class='todocount' ng-if='list.taskCount'>
                    {{list.taskCount}}
                </span>
            <span class="todoname">{{list.title}}</span>
        </a>
      
    </li>
</ul>


