<aside class='todo-aside'>
    <ul>
        <li class='task'>
            <input type="checkbox" id='task-completed' ng-change='$ctrl.changeTodo()' ng-model='$ctrl.task.completed'>
            <label for='task-completed'></label>
            <span contenteditable="true" ng-blur='$ctrl.changeTodoTitle($event)' ng-keypress='$ctrl.handleEnterTitle($event)'>{{$ctrl.task.title}}</span>
            <label ng-class="{true: 'active', false: ''}[$ctrl.task.marked]" class="marked">
                <input type="checkbox" ng-model='$ctrl.task.marked'  ng-change='$ctrl.changeTodo()'>
            </label>
        </li>
        <li class='duedate'>
            <input type='text' placeholder='Set due date'>
        </li>
        <li class='reminder'>
            <input type='text' placeholder='Remind me'>
        </li>
        <li class='subtask'>
            Add subtask
            <ul class="subtasks">
                <li ng-repeat='subtask in $ctrl.subtasks'></li>
            </ul>
        </li>
        <li class='note note-active'>
            <span ng-if='!$ctrl.addNoteActive' ng-click='$ctrl.addNoteActive = true'>Add a note</span>
            <textarea ng-if='$ctrl.addNoteActive' placeholder="Add note..." id="" cols="25" rows="" autofocus ng-model="$ctrl.task.note" ng-keydown='$ctrl.handleNotePrint($event)' ng-blur='$ctrl.changeTodoNote()'></textarea>
        </li>
        <li class='file'>
            <input type="file" id='add-file' multiple file-input handle-file='$ctrl.handleFiles(data)'>
            <label for="add-file">Add a file</label>
        </li>
    </ul>

    <div class="todoaside-footer">
        <button ng-click='$ctrl.redirectToParent()'></button>
    </div>
</aside>