<!Doctype html>
<html ng-app="appModule" lang="en">

<head>
    <meta charset="UTF-8">
    <title>To do app</title>
    <!-- <link rel='shortcut icon' type='image/x-icon' href='../src/img/icons/favicon.png'/>  -->
    <!-- <link rel="shortcut icon" type="image/png" href="../src/img/icons/favicon.png"/>  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">    
</head>

<body ng-controller="AppController as ctrl">
    <div class = 'container'>
        <aside>
            <div class="nav">
                <button class='toggle-button'></button>
                 <!-- Filter todo in view -->
                <input type="text" ng-model='ctrl.query'>
                <span class='toggle-search'></span>
            </div>
            <div class="folders" ng-click='ctrl.changeActive($event)'>
                <ul class='cpecial-items tab-bar'>
                    <li class='marked'><a ng-href="#!/lists/marked">избранное</a></li> 
                </ul>        
                
                <list-group-component></list-group-component>
                 <!-- Filter todo in view, remove filter-search it's an example -->
                <list-comp filter-id = 'null' filter-search='ctrl.query'></list-comp>
            </div>
            <div class="create">
                <a href="">Create list</a>
                <a href="">Create folder</a>
            </div>
        </aside>
        <header>
            <h2>{{ctrl.headerTitle}}</h2> 
            <button class = 'sort-button'></button>
        </header>
        <main>
            <form action="" ng-submit="ctrl.addToDo($event)">
                <span class='newTask' ng-click="ctrl.focusAddTask()">
                    <i  ng-if='!ctrl.taskFocused'></i>
                    <i class="icon-checked" ng-if='ctrl.taskFocused'></i>
                </span>
                <input type="text" class='newTaskTitle' ng-focus="ctrl.taskFocused = true" ng-model="ctrl.newTodoTitle" ng-blur="ctrl.taskFocused = false">
                <div class="marked-task">
                    <input type="checkbox" name="newTask" id="addTask" class='marked-task' ng-model='ctrl.marked'>
                    <label for="addTask"></label>
                </div>
            </form>
                <div ng-view></div>
        </main>         
    </div>
</body>

</html>