<div class = 'todo'>
    <h2>{{$ctrl.todoTitle}}</h2>
    <button ng-click='$ctrl.openInput = true' ng-if='!$ctrl.openInput'>Add task</button>
    <div ng-if='$ctrl.openInput'>
        <input type="text" ng-model='$ctrl.newTitle' autofocus>
        <button ng-click='$ctrl.saveTask()'>Save task</button>
        <button ng-click='$ctrl.changeTask()'>Change task</button>
        <button ng-click='$ctrl.openInput=false'>Cancel</button>
    </div>
    <ul>
        <li ng-repeat='task in $ctrl.todo | filter: $ctrl.filterData'>
            <a href='#'>{{task.title}}</a>
            <button ng-click='$ctrl.deleteTask(task.id)'>delete task</button>
            <button ng-click='$ctrl.rewriteTask(task.id)'>change task</button>
        </li>
        
    </ul>
</div>