<section>
    <ul class='todo'>
            <li ng-repeat='task in $ctrl.todo | filter: ($ctrl.hasListId ? {"title": $ctrl.searchParam} : {"listId": $ctrl.parentId} ) track by $index' 
            ng-if="!task.completed"  ui-sref-active='active-todo'
            dragdrop-dir drag-obj='task' verify-drag-allowed='$ctrl.verifyDragTask(obj)' ng-right-click="$ctrl.openContextMenu($event, task)">

            <label class="completed"><input type="checkbox" ng-model='task.completed' ng-change='$ctrl.changeTodo()'></label>
            <!-- UI_SREF FOR SIDEBAR -->
            <a ui-sref='lists.todo({todoid: task.id})'>{{task.title}}</a>
            <label ng-class="{true: 'active', false: ''}[task.marked]" class="marked">
                <input type="checkbox" ng-model='task.marked' ng-change='$ctrl.changeTodo()'>
            </label>
        </li>
        <button class="completed-btn" ng-click="$ctrl.completedShown = !$ctrl.completedShown" ng-if="$ctrl.parentId !== 'marked'">
            show copmleted tasks
        </button>
    </ul>
    <!-- marked tasks -->
    <div class="marked-view" ng-if="$ctrl.parentId === 'marked'" ng-repeat='list in $ctrl.lists'>
        <h3><a ui-sref='lists({listid: list.id})' ng-show='filtered.length > 0'>{{list.title}}</a></h3>
        <ul class='todo'>
            <li ng-repeat='task in filtered = ($ctrl.todo | filter: {"marked": true} | filter: {"listId": list.id} | filter: {"completed" : false}) track by $index'  ui-sref-active='active-todo'>
                <p>{{task.length}}</p>
                <label class="completed">
                    <input type="checkbox" ng-model='task.completed' ng-change='$ctrl.changeTodo()'>
                </label>
                <a ui-sref='lists.todo({todoid: task.id})'>{{task.title}}</a>
                <label ng-class="{true: 'active', false: ''}[task.marked]" class="marked">
                    <input type="checkbox" ng-model='task.marked' ng-change='$ctrl.changeTodo()'>
                </label>
            </li>
        </ul>
    </div>
    <!-- completed tasks -->
    <div class='todo-completed' ng-if="$ctrl.completedShown && $ctrl.parentId !=='marked'">
        <h3>Completed tasks:</h3>
        <ul class='todo'>
            <li ng-repeat='task in $ctrl.todo | filter: {"listId": $ctrl.parentId} track by $index' ng-if="task.completed"  ui-sref-active='active-todo'>
                <label class="completed">
                    <input type="checkbox" ng-model='task.completed'  ng-change='$ctrl.changeTodo()'>
                </label>
                <a ui-sref='lists.todo({todoid: task.id})'>{{task.title}}</a>
                <label ng-class="{true: 'active', false: ''}[task.marked]" class="marked">
                    <input type="checkbox" ng-model='task.marked'  ng-change='$ctrl.changeMarked()'>
                </label>
            </li>
        </ul>
    </div>
</section>


